body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h2 {
    font-weight: 450;
}

span {
    margin-right: 15px;
}

.display-4 {
    font-weight: 500;
}

p,
li,
a,
.lead {
    font-weight: 400;
    font-size: x-large;
}

nav {
    margin-bottom: 30px;
    font-weight: 20;
}

.inline-news {
    display: inline-block;
    background-color: #5b6e75;
    margin-left: 20px;
    background: linear-gradient(45deg, rgba(255,255,255,0.5), rgba(255,255,255,0.2));
}


.btn {
    display: inline-block;
    background-color: lightslategray;
    border-color: lightslategray;
}

pre {
    background-color: gainsboro;
    color: black;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: max-content;
}

.jumbotron {
    background-color: #343a40;
    color: #ffffff;
    padding: 30px;
}

.feature-list {
    list-style-type: decimal;
    padding: 5;
}

.my-4 {
    background-color: lightgray;
}

.feature-list li {
    padding: 8px 0;
}

h2 {
    padding: 10px 0;
    font-size: xx-large;
    border-bottom-color: #343a40;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}